<!DOCTYPE html>
%html
	%head
		%title Go
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
		= javascript_include_tag 'application', 'data-turbolinks-track' => true 
		= csrf_meta_tags 

	%body
		=if flash[:notice]
			.notice= flash[:notice]
		=if flash[:alert]
			.alert= flash[:alert]
		= render 'partials/header'
		= yield 
		%script{:src =>"assets/jquery.transit.min.js" }
		%script{:src =>"assets/custom.js"}


